* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    list-style: none;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 0;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

body {
    background: linear-gradient(25deg, #0077b6, #caf0f8);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* header */
header {
    padding: 35px 0;
}
header h1 {
    font-size: 45px;
    color: rgba(0, 0, 0, 0.7);
}

/* form */
form {
    flex: 1;
    position: relative;
}
form .todoInput {
    appearance: none;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    padding-right: 41px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.6)
    );
}
form .todoSubmitButton {
    position: absolute;
    height: 42px;
    width: 42px;
    appearance: none;
    border: none;
    left: 89%;
    color: rgba(0, 0, 0, 0.6);
    background: transparent;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}
form .todoSubmitButton i {
    transition: all 0.3s ease;
}
form .todoSubmitButton:hover i,
form .todoSubmitButton:focus i {
    transform: scale(1.2);
}
form .todoSubmitButton:active i {
    transform: scale(1);
}
form .todosFilter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width: 300px;
    margin: 10px auto;
    border-radius: 7px;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.6)
    );
    color: rgba(0, 0, 0, 0.8);
}
form .todosFilter label {
    display: flex;
    align-items: center;
    user-select: none;
}
form .todoFilter {
    appearance: none;
    height: 12px;
    width: 12px;
    margin-right: 5px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    outline: none;
    pointer-events: none;
    transition: all 0.2s ease;
}
form .todoFilter:hover,
form .todoFilter:focus {
    background: #def4ff;
}
form .todoFilter:checked {
    background: #7dc8f0;
}

/* todolists */
.todoListsContainer {
    flex: 3;
    width: 100%;
    display: flex;
    align-items: center;
}
.todoLists {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 350px;
    padding: 0 5px 0 10px;
    overflow-y: auto;
}
.todoList {
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.6)
    );
    width: 400px;
    margin-top: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: all 0.3s ease;
}
.todoList:hover {
    transform: scale(1.02);
}

.todo {
    flex: 1;
    padding: 10px 0 10px 10px;
}
.todo li {
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
}
.completeButton,
.deleteButton {
    height: 42px;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    outline: none;
}
.completeButton i,
.deleteButton i {
    pointer-events: none;
    transition: all 0.3s ease;
}
.completeButton:hover i,
.completeButton:focus i {
    color: rgba(18, 240, 18, 0.7);
    transform: scale(1.2);
}
.deleteButton:hover i,
.deleteButton:focus i {
    color: rgba(255, 0, 0, 0.7);
    transform: scale(1.2);
}
.completeButton:active i {
    transition: all 0.2s ease;
    transform: scale(1);
}
.deleteButton:active i {
    transition: all 0.2s ease;
    transform: scale(1);
}
.completeButton {
    font-size: 18px;
}
.deleteButton {
    font-size: 16px;
}

/* animations */
.todoListFadeInRight {
    animation: fadeInRight 0.8s ease;
}
@keyframes fadeInRight {
    from {
        transform: translateX(-120%);
    }
    to {
        transform: translateX(0);
    }
}
.completeTodoList {
    opacity: 0.5;
}
.completeTodo {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}
.todoListFadeOutLeft {
    animation: fadeOutLeft 0.8s ease;
}
@keyframes fadeOutLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-120%);
        opacity: 0;
    }
}
.todoListFadeOutRight {
    animation: fadeOutRight 0.8s ease;
}
@keyframes fadeOutRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(120%);
        opacity: 0;
    }
}

@media only screen and (max-width: 500px) {
    form .todoInput {
        width: 350px;
    }
    form .todoSubmitButton {
        left: 88%;
    }

    .todoList {
        width: 350px;
    }
}
